@page "/"

<h1>Hello, world!</h1>

<PrimoComponente>
    <ChildContent>
        <h3>Ciao, Ciao</h3>
    </ChildContent>

    <OtherChildContent>
        <p> Un altro frammento figlio</p>
    </OtherChildContent>

</PrimoComponente>
